node-red/horses_sim_flow.json
[
    {
        "id": "a8d54a5ec3c735f0",
        "type": "tab",
        "label": "Flujo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9273722c992b7557",
        "type": "mqtt-broker",
        "name": "horse1",
        "broker": "srv-iot.diatel.upm.es/",
        "port": "8884",
        "tls": "51fcb25f871ce970",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "51fcb25f871ce970",
        "type": "tls-config",
        "name": "no server verification",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "6cb7316a65e26cc3",
        "type": "mqtt-broker",
        "name": "horse2",
        "broker": "srv-iot.diatel.upm.es/",
        "port": "8883",
        "tls": "51fcb25f871ce970",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "419e859bcf675fd1",
        "type": "mqtt-broker",
        "name": "horse3",
        "broker": "srv-iot.diatel.upm.es/",
        "port": "8885",
        "tls": "51fcb25f871ce970",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "29848d17dd29e554",
        "type": "mqtt-broker",
        "name": "horse4",
        "broker": "srv-iot.diatel.upm.es/",
        "port": "8886",
        "tls": "51fcb25f871ce970",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "964a91f8b030c3b1",
        "type": "mqtt-broker",
        "name": "horse5",
        "broker": "srv-iot.diatel.upm.es/",
        "port": "8887",
        "tls": "51fcb25f871ce970",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2c4873277c872e0e",
        "type": "mqtt-broker",
        "name": "horse6",
        "broker": "srv-iot.diatel.upm.es/",
        "port": "8888",
        "tls": "51fcb25f871ce970",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "206fc98d1d2d13f2",
        "type": "mqtt-broker",
        "name": "horse7",
        "broker": "srv-iot.diatel.upm.es/",
        "port": "8889",
        "tls": "51fcb25f871ce970",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "99bf2ea4e9f9f97f",
        "type": "mqtt-broker",
        "name": "horse8",
        "broker": "srv-iot.diatel.upm.es/",
        "port": "8890",
        "tls": "51fcb25f871ce970",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "7339bf397d763481",
        "type": "mqtt-broker",
        "name": "horse9",
        "broker": "srv-iot.diatel.upm.es/",
        "port": "8891",
        "tls": "51fcb25f871ce970",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "edd03d2bb86bb8b4",
        "type": "mqtt out",
        "z": "a8d54a5ec3c735f0",
        "name": "horse1",
        "topic": "v1/devices/me/telemetry",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9273722c992b7557",
        "x": 750,
        "y": 180,
        "wires": []
    },
    {
        "id": "d2707bb3f57d3e61",
        "type": "function",
        "z": "a8d54a5ec3c735f0",
        "name": "simulated horse params",
        "func": "let r_temp = [37.5, 38.5] // float\nlet r_hr = [36, 40] // int\nlet r_ox = [95, 100] // int\nlet r_x = [-1, 1] // float\nlet r_y = [-1, 1] // float\nlet r_z = [10, 9.6] // float\nlet r_lat = [40.4, 40.41] // float\nlet r_long = [-3.69, -3.68] // float\n\nglobal.set(\"TEMP\", r_temp)\nglobal.set(\"HR\", r_hr)\nglobal.set(\"OX\", r_ox)\nglobal.set(\"X\", r_x)\nglobal.set(\"Y\", r_y)\nglobal.set(\"Z\", r_z)\nglobal.set(\"LAT\", r_lat)\nglobal.set(\"LONG\", r_long);\n\nlet messages = [];\n\nfor (let i = 0; i < 10; i++) {\n    let temperature = parseFloat((Math.random() * (r_temp[1] - r_temp[0]) + r_temp[0]).toFixed(2));\n    let hr = Math.floor(Math.random() * (r_hr[1] - r_hr[0] + 1)) + r_hr[0];\n    let oximetry = Math.floor(Math.random() * (r_ox[1] - r_ox[1] + 1)) + r_ox[0];\n    let x = parseFloat((Math.random() * (r_x[1] - r_x[0]) + r_x[0]).toFixed(2));\n    let y = parseFloat((Math.random() * (r_y[1] - r_y[0]) + r_y[0]).toFixed(2));\n    let z = parseFloat((Math.random() * (r_z[1] - r_z[0]) + r_z[0]).toFixed(2));\n    let lat = parseFloat((Math.random() * (r_lat[1] - r_lat[0]) + r_lat[0]).toFixed(6));\n    let long = parseFloat((Math.random() * (r_long[1] - r_long[0]) + r_long[0]).toFixed(6));\n\n    messages.push({ \n        payload: {\n            \"temperature\": temperature,\n            \"HR\": hr,\n            \"oximetry\": oximetry,\n            \"x\": x,\n            \"y\": y,\n            \"z\": z,\n            \"lat\": lat,\n            \"long\": long\n        } \n    });\n}\n\nreturn messages;\n",
        "outputs": 9,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 260,
        "wires": [
            [
                "171e9db1e4b40c36"
            ],
            [
                "8d2a50a5f5f305e2"
            ],
            [
                "edd03d2bb86bb8b4"
            ],
            [
                "1e3eee23adbe0375"
            ],
            [
                "db81bd5711a3e2dd"
            ],
            [
                "48969fc3e5f75efb"
            ],
            [
                "53aceea77e8ac803"
            ],
            [
                "22e3181b3d025b42"
            ],
            [
                "64b909877c08c727"
            ]
        ]
    },
    {
        "id": "4693ae66852010f4",
        "type": "inject",
        "z": "a8d54a5ec3c735f0",
        "name": "each minute",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 260,
        "wires": [
            [
                "d2707bb3f57d3e61"
            ]
        ]
    },
    {
        "id": "171e9db1e4b40c36",
        "type": "mqtt out",
        "z": "a8d54a5ec3c735f0",
        "name": "horse2",
        "topic": "v1/devices/me/telemetry",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6cb7316a65e26cc3",
        "x": 750,
        "y": 60,
        "wires": []
    },
    {
        "id": "8d2a50a5f5f305e2",
        "type": "mqtt out",
        "z": "a8d54a5ec3c735f0",
        "name": "horse3",
        "topic": "v1/devices/me/telemetry",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "419e859bcf675fd1",
        "x": 750,
        "y": 120,
        "wires": []
    },
    {
        "id": "1e3eee23adbe0375",
        "type": "mqtt out",
        "z": "a8d54a5ec3c735f0",
        "name": "horse4",
        "topic": "v1/devices/me/telemetry",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "29848d17dd29e554",
        "x": 750,
        "y": 240,
        "wires": []
    },
    {
        "id": "db81bd5711a3e2dd",
        "type": "mqtt out",
        "z": "a8d54a5ec3c735f0",
        "name": "horse5",
        "topic": "v1/devices/me/telemetry",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "964a91f8b030c3b1",
        "x": 750,
        "y": 300,
        "wires": []
    },
    {
        "id": "48969fc3e5f75efb",
        "type": "mqtt out",
        "z": "a8d54a5ec3c735f0",
        "name": "horse6",
        "topic": "v1/devices/me/telemetry",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2c4873277c872e0e",
        "x": 750,
        "y": 360,
        "wires": []
    },
    {
        "id": "53aceea77e8ac803",
        "type": "mqtt out",
        "z": "a8d54a5ec3c735f0",
        "name": "horse7",
        "topic": "v1/devices/me/telemetry",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "206fc98d1d2d13f2",
        "x": 750,
        "y": 420,
        "wires": []
    },
    {
        "id": "22e3181b3d025b42",
        "type": "mqtt out",
        "z": "a8d54a5ec3c735f0",
        "name": "horse8",
        "topic": "v1/devices/me/telemetry",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "99bf2ea4e9f9f97f",
        "x": 750,
        "y": 480,
        "wires": []
    },
    {
        "id": "64b909877c08c727",
        "type": "mqtt out",
        "z": "a8d54a5ec3c735f0",
        "name": "horse9",
        "topic": "v1/devices/me/telemetry",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7339bf397d763481",
        "x": 750,
        "y": 540,
        "wires": []
    },
    {
        "id": "886299abfb9bac21",
        "type": "inject",
        "z": "a8d54a5ec3c735f0",
        "name": "inyect",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 440,
        "wires": [
            [
                "e1ab75bb6c822afa"
            ]
        ]
    },
    {
        "id": "e1ab75bb6c822afa",
        "type": "function",
        "z": "a8d54a5ec3c735f0",
        "name": "simulated ill horse params",
        "func": "let r_temp = global.get(\"TEMP\") || [37.5, 38.5];\nlet r_hr = global.get(\"HR\") || [36, 40];\nlet r_ox = global.get(\"OX\") || [95, 100];\nlet r_x = global.get(\"X\") || [-1, 1];\nlet r_y = global.get(\"Y\") || [-1, 1];\nlet r_z = global.get(\"Z\") || [9.6, 10];\nlet r_lat = global.get(\"LAT\") || [40.4, 40.41];\nlet r_long = global.get(\"LONG\") || [-3.69, -3.68];\n\nlet temperature = parseFloat((Math.random() * (r_temp[1] - r_temp[0]) + r_temp[0]).toFixed(2));\nlet hr = Math.floor(Math.random() * (r_hr[1] - r_hr[0] + 1)) + r_hr[0];\nlet oximetry = Math.floor(Math.random() * (r_ox[1] - r_ox[1] + 1)) + r_ox[0];\nlet x = parseFloat((Math.random() * (r_x[1] - r_x[0]) + r_x[0]).toFixed(2));\nlet y = parseFloat((Math.random() * (r_y[1] - r_y[0]) + r_y[0]).toFixed(2));\nlet z = parseFloat((Math.random() * (r_z[1] - r_z[0]) + r_z[0]).toFixed(2));\nlet lat = parseFloat((Math.random() * (r_lat[1] - r_lat[0]) + r_lat[0]).toFixed(6));\nlet long = parseFloat((Math.random() * (r_long[1] - r_long[0]) + r_long[0]).toFixed(6));\n\n// Randomly determine which property will have an out-of-range value\nlet outOfRangeProperty = Math.floor(Math.random() * 3);\n\nif (outOfRangeProperty === 0) {\n    temperature = parseFloat((Math.random() * ((r_temp[1] + 4) - (r_temp[1] + 0.01)) + (r_temp[1] + 0.01)).toFixed(2));\n} else if (outOfRangeProperty === 1) {\n    let hr_range = Math.random() < 0.5 ? [r_hr[1] + 1, r_hr[1] + 10] : [r_hr[0] - 6, r_hr[0] - 1];\n    hr = Math.floor(Math.random() * (hr_range[1] - hr_range[0] + 1)) + hr_range[0];\n} else if (outOfRangeProperty === 2) {\n    oximetry = Math.floor(Math.random() * ((r_ox[0] - 1) - (r_ox[0] - 10) + 1)) + (r_ox[0] - 10);\n}\n\nlet message = { \n    payload: {\n        \"temperature\": temperature,\n        \"HR\": hr,\n        \"oximetry\": oximetry,\n        \"x\": x,\n        \"y\": y,\n        \"z\": z,\n        \"lat\": lat,\n        \"long\": long\n    } \n};\n\nreturn message;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 440,
        "wires": [
            [
                "64b909877c08c727"
            ]
        ]
    }
]