node-red/horses_sim_flow.json
[
    {
        "id": "58a8cc08aa56be5b",
        "type": "tab",
        "label": "Flujo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1a1a2648cef9ebee",
        "type": "mqtt out",
        "z": "58a8cc08aa56be5b",
        "name": "horse1",
        "topic": "v1/devices/me/telemetry",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9273722c992b7557",
        "x": 850,
        "y": 180,
        "wires": []
    },
    {
        "id": "511bb7e3dc1f137c",
        "type": "function",
        "z": "58a8cc08aa56be5b",
        "name": "simulated horse params",
        "func": "let r_temp = [37.5, 38.5] // float\nlet r_hr = [36, 40] // int\nlet r_ox = [95, 100] // int\nlet r_x = [-1, 1] // float\nlet r_y = [-1, 1] // float\nlet r_z = [10, 9.6] // float\nlet r_lat = [40.61133215027306, 40.64486521922222] // float\nlet r_long = [-3.9698566783610074, -3.932592121300936] // float\n\nglobal.set(\"TEMP\", r_temp)\nglobal.set(\"HR\", r_hr)\nglobal.set(\"OX\", r_ox)\nglobal.set(\"X\", r_x)\nglobal.set(\"Y\", r_y)\nglobal.set(\"Z\", r_z)\nglobal.set(\"LAT\", r_lat)\nglobal.set(\"LONG\", r_long);\n\nlet messages = [];\n\nfor (let i = 0; i < 10; i++) {\n    let temperature = parseFloat((Math.random() * (r_temp[1] - r_temp[0]) + r_temp[0]).toFixed(2));\n    let hr = Math.floor(Math.random() * (r_hr[1] - r_hr[0] + 1)) + r_hr[0];\n    let oximetry = Math.floor(Math.random() * (r_ox[1] - r_ox[0] + 1)) + r_ox[0];\n    let x = parseFloat((Math.random() * (r_x[1] - r_x[0]) + r_x[0]).toFixed(2));\n    let y = parseFloat((Math.random() * (r_y[1] - r_y[0]) + r_y[0]).toFixed(2));\n    let z = parseFloat((Math.random() * (r_z[1] - r_z[0]) + r_z[0]).toFixed(2));\n    let lat = parseFloat((Math.random() * (r_lat[1] - r_lat[0]) + r_lat[0]).toFixed(14));\n    let long = parseFloat((Math.random() * (r_long[1] - r_long[0]) + r_long[0]).toFixed(14));\n\n    messages.push({ \n        payload: {\n            \"temperature\": temperature,\n            \"HR\": hr,\n            \"oximetry\": oximetry,\n            \"x\": x,\n            \"y\": y,\n            \"z\": z,\n            \"lat\": lat,\n            \"long\": long\n        } \n    });\n}\n\nreturn messages;\n",
        "outputs": 9,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 260,
        "wires": [
            [
                "5f4f6aca541d9c18"
            ],
            [
                "9795e0c2211476e9"
            ],
            [
                "1a1a2648cef9ebee"
            ],
            [
                "d5389646e5bc0ffb"
            ],
            [
                "8926d5c837519282"
            ],
            [
                "e9b5341d2eaeb510"
            ],
            [
                "710c45be48105da9"
            ],
            [
                "562d48621a8bd090"
            ],
            [
                "6e0c9f7ba45dfdd4"
            ]
        ]
    },
    {
        "id": "b4c3978018dcdc40",
        "type": "inject",
        "z": "58a8cc08aa56be5b",
        "name": "each minute",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 260,
        "wires": [
            [
                "511bb7e3dc1f137c"
            ]
        ]
    },
    {
        "id": "5f4f6aca541d9c18",
        "type": "mqtt out",
        "z": "58a8cc08aa56be5b",
        "name": "horse2",
        "topic": "v1/devices/me/telemetry",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6cb7316a65e26cc3",
        "x": 850,
        "y": 60,
        "wires": []
    },
    {
        "id": "9795e0c2211476e9",
        "type": "mqtt out",
        "z": "58a8cc08aa56be5b",
        "name": "horse3",
        "topic": "v1/devices/me/telemetry",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "419e859bcf675fd1",
        "x": 850,
        "y": 120,
        "wires": []
    },
    {
        "id": "d5389646e5bc0ffb",
        "type": "mqtt out",
        "z": "58a8cc08aa56be5b",
        "name": "horse4",
        "topic": "v1/devices/me/telemetry",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "29848d17dd29e554",
        "x": 850,
        "y": 240,
        "wires": []
    },
    {
        "id": "8926d5c837519282",
        "type": "mqtt out",
        "z": "58a8cc08aa56be5b",
        "name": "horse5",
        "topic": "v1/devices/me/telemetry",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "964a91f8b030c3b1",
        "x": 850,
        "y": 300,
        "wires": []
    },
    {
        "id": "e9b5341d2eaeb510",
        "type": "mqtt out",
        "z": "58a8cc08aa56be5b",
        "name": "horse6",
        "topic": "v1/devices/me/telemetry",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2c4873277c872e0e",
        "x": 850,
        "y": 360,
        "wires": []
    },
    {
        "id": "710c45be48105da9",
        "type": "mqtt out",
        "z": "58a8cc08aa56be5b",
        "name": "horse7",
        "topic": "v1/devices/me/telemetry",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "206fc98d1d2d13f2",
        "x": 850,
        "y": 420,
        "wires": []
    },
    {
        "id": "562d48621a8bd090",
        "type": "mqtt out",
        "z": "58a8cc08aa56be5b",
        "name": "horse8",
        "topic": "v1/devices/me/telemetry",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "99bf2ea4e9f9f97f",
        "x": 850,
        "y": 480,
        "wires": []
    },
    {
        "id": "6e0c9f7ba45dfdd4",
        "type": "mqtt out",
        "z": "58a8cc08aa56be5b",
        "name": "horse9",
        "topic": "v1/devices/me/telemetry",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7339bf397d763481",
        "x": 850,
        "y": 540,
        "wires": []
    },
    {
        "id": "6d37eaf1cdd62784",
        "type": "inject",
        "z": "58a8cc08aa56be5b",
        "name": "inyect",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 440,
        "wires": [
            [
                "9d6fd0d7a1e75fc0"
            ]
        ]
    },
    {
        "id": "9d6fd0d7a1e75fc0",
        "type": "function",
        "z": "58a8cc08aa56be5b",
        "name": "simulated ill horse params",
        "func": "let r_temp = global.get(\"TEMP\") || [37.5, 38.5];\nlet r_hr = global.get(\"HR\") || [36, 40];\nlet r_ox = global.get(\"OX\") || [95, 100];\nlet r_x = global.get(\"X\") || [-1, 1];\nlet r_y = global.get(\"Y\") || [-1, 1];\nlet r_z = global.get(\"Z\") || [9.6, 10];\nlet r_lat = global.get(\"LAT\") || [40.61133215027306, 40.64486521922222];\nlet r_long = global.get(\"LONG\") || [-3.9698566783610074, -3.932592121300936];\n\nlet temperature = parseFloat((Math.random() * (r_temp[1] - r_temp[0]) + r_temp[0]).toFixed(2));\nlet hr = Math.floor(Math.random() * (r_hr[1] - r_hr[0] + 1)) + r_hr[0];\nlet oximetry = Math.floor(Math.random() * (r_ox[1] - r_ox[1] + 1)) + r_ox[0];\nlet x = parseFloat((Math.random() * (r_x[1] - r_x[0]) + r_x[0]).toFixed(2));\nlet y = parseFloat((Math.random() * (r_y[1] - r_y[0]) + r_y[0]).toFixed(2));\nlet z = parseFloat((Math.random() * (r_z[1] - r_z[0]) + r_z[0]).toFixed(2));\nlet lat = parseFloat((Math.random() * (r_lat[1] - r_lat[0]) + r_lat[0]).toFixed(14));\nlet long = parseFloat((Math.random() * (r_long[1] - r_long[0]) + r_long[0]).toFixed(14));\n\n// Randomly determine which property will have an out-of-range value\nlet outOfRangeProperty = Math.floor(Math.random() * 3);\n\nif (outOfRangeProperty === 0) {\n    temperature = parseFloat((Math.random() * ((r_temp[1] + 4) - (r_temp[1] + 0.01)) + (r_temp[1] + 0.01)).toFixed(2));\n} else if (outOfRangeProperty === 1) {\n    let hr_range = Math.random() < 0.5 ? [r_hr[1] + 1, r_hr[1] + 10] : [r_hr[0] - 6, r_hr[0] - 1];\n    hr = Math.floor(Math.random() * (hr_range[1] - hr_range[0] + 1)) + hr_range[0];\n} else if (outOfRangeProperty === 2) {\n    oximetry = Math.floor(Math.random() * ((r_ox[0] - 1) - (r_ox[0] - 10) + 1)) + (r_ox[0] - 10);\n}\n\nlet message = { \n    payload: {\n        \"temperature\": temperature,\n        \"HR\": hr,\n        \"oximetry\": oximetry,\n        \"x\": x,\n        \"y\": y,\n        \"z\": z,\n        \"lat\": lat,\n        \"long\": long\n    } \n};\n\nreturn message;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 440,
        "wires": [
            [
                "6e0c9f7ba45dfdd4"
            ]
        ]
    },
    {
        "id": "5b06699291801908",
        "type": "mqtt in",
        "z": "58a8cc08aa56be5b",
        "name": "horse 1 buzzer",
        "topic": "v1/devices/me/attributes",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9273722c992b7557",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 660,
        "wires": [
            [
                "02e01f1fcfd699bb"
            ]
        ]
    },
    {
        "id": "8a2abf8082566cf1",
        "type": "ui_led2",
        "z": "58a8cc08aa56be5b",
        "order": 3,
        "group": "f8b554f2ba5f933d",
        "width": "3",
        "height": "3",
        "label": "",
        "property": "payload",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#00e1ff",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "led 1",
        "x": 650,
        "y": 660,
        "wires": []
    },
    {
        "id": "02e01f1fcfd699bb",
        "type": "function",
        "z": "58a8cc08aa56be5b",
        "name": "func 1",
        "func": "if (msg.payload.speakerDeviceName != 'horse sim 1') {\n    return null;\n} else {\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 660,
        "wires": [
            [
                "b3e255862aa2f0bb"
            ]
        ]
    },
    {
        "id": "7a469e04ca19b015",
        "type": "ui_led2",
        "z": "58a8cc08aa56be5b",
        "order": 0,
        "group": "4f5c5c78ab53bd75",
        "width": "3",
        "height": "3",
        "label": "",
        "property": "payload",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "led 2",
        "x": 650,
        "y": 720,
        "wires": []
    },
    {
        "id": "54f3e9d202bed175",
        "type": "ui_led2",
        "z": "58a8cc08aa56be5b",
        "order": 0,
        "group": "690ba896b47248b7",
        "width": "3",
        "height": "3",
        "label": "",
        "property": "payload",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "led 3",
        "x": 650,
        "y": 780,
        "wires": []
    },
    {
        "id": "c528af04d79e56ef",
        "type": "ui_led2",
        "z": "58a8cc08aa56be5b",
        "order": 0,
        "group": "1d5dc17b8d99936c",
        "width": "3",
        "height": "3",
        "label": "",
        "property": "payload",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#a600ff",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "led 4",
        "x": 650,
        "y": 840,
        "wires": []
    },
    {
        "id": "daab90f33c0ba279",
        "type": "ui_led2",
        "z": "58a8cc08aa56be5b",
        "order": 0,
        "group": "7a7f7fda36072e21",
        "width": "3",
        "height": "3",
        "label": "",
        "property": "payload",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#fff700",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "led 5",
        "x": 650,
        "y": 900,
        "wires": []
    },
    {
        "id": "26e692205c60d89b",
        "type": "ui_led2",
        "z": "58a8cc08aa56be5b",
        "order": 0,
        "group": "7dd95f442310c619",
        "width": "3",
        "height": "3",
        "label": "",
        "property": "payload",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ffa200",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "led 6",
        "x": 650,
        "y": 960,
        "wires": []
    },
    {
        "id": "10f86e3d9437f492",
        "type": "ui_led2",
        "z": "58a8cc08aa56be5b",
        "order": 0,
        "group": "04360943b28004e2",
        "width": "3",
        "height": "3",
        "label": "",
        "property": "payload",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#0032fa",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "led 7",
        "x": 650,
        "y": 1020,
        "wires": []
    },
    {
        "id": "b3e255862aa2f0bb",
        "type": "trigger",
        "z": "58a8cc08aa56be5b",
        "name": "",
        "op1": "true",
        "op2": "0",
        "op1type": "bool",
        "op2type": "str",
        "duration": "15",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 480,
        "y": 660,
        "wires": [
            [
                "8a2abf8082566cf1"
            ]
        ]
    },
    {
        "id": "df923ed52bb3b9c3",
        "type": "ui_led2",
        "z": "58a8cc08aa56be5b",
        "order": 0,
        "group": "00835c4afd2888f5",
        "width": "3",
        "height": "3",
        "label": "",
        "property": "payload",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff00dd",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "led 8",
        "x": 650,
        "y": 1080,
        "wires": []
    },
    {
        "id": "677c71dfe76daa7f",
        "type": "ui_led2",
        "z": "58a8cc08aa56be5b",
        "order": 0,
        "group": "c6d47ce79fbc89e0",
        "width": "3",
        "height": "3",
        "label": "",
        "property": "payload",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#00ffb3",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "led 9",
        "x": 650,
        "y": 1140,
        "wires": []
    },
    {
        "id": "159d6d8267ae3467",
        "type": "mqtt in",
        "z": "58a8cc08aa56be5b",
        "name": "horse 2 buzzer",
        "topic": "v1/devices/me/attributes",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6cb7316a65e26cc3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 720,
        "wires": [
            [
                "a286844173bac4d4"
            ]
        ]
    },
    {
        "id": "5dcee225ea8528b1",
        "type": "mqtt in",
        "z": "58a8cc08aa56be5b",
        "name": "horse 3 buzzer",
        "topic": "v1/devices/me/attributes",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "419e859bcf675fd1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 780,
        "wires": [
            [
                "67176555e7940bec"
            ]
        ]
    },
    {
        "id": "bde87b5bb1da5c48",
        "type": "mqtt in",
        "z": "58a8cc08aa56be5b",
        "name": "horse 4 buzzer",
        "topic": "v1/devices/me/attributes",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "29848d17dd29e554",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 840,
        "wires": [
            [
                "25637fd5d9545d7f"
            ]
        ]
    },
    {
        "id": "d26582f9bf30dfb9",
        "type": "mqtt in",
        "z": "58a8cc08aa56be5b",
        "name": "horse 5 buzzer",
        "topic": "v1/devices/me/attributes",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "964a91f8b030c3b1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 900,
        "wires": [
            [
                "849ec2c6481e29b4"
            ]
        ]
    },
    {
        "id": "3d3a85df79197fb0",
        "type": "mqtt in",
        "z": "58a8cc08aa56be5b",
        "name": "horse 6 buzzer",
        "topic": "v1/devices/me/attributes",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "2c4873277c872e0e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 960,
        "wires": [
            [
                "fe189dc3153514ac"
            ]
        ]
    },
    {
        "id": "95e4a700ede52652",
        "type": "mqtt in",
        "z": "58a8cc08aa56be5b",
        "name": "horse 7 buzzer",
        "topic": "v1/devices/me/attributes",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "206fc98d1d2d13f2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 1020,
        "wires": [
            [
                "72c14b0f1ab54ac3"
            ]
        ]
    },
    {
        "id": "142a12e7aabdac35",
        "type": "mqtt in",
        "z": "58a8cc08aa56be5b",
        "name": "horse 8 buzzer",
        "topic": "v1/devices/me/attributes",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "99bf2ea4e9f9f97f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 1080,
        "wires": [
            [
                "75477bd5be697953"
            ]
        ]
    },
    {
        "id": "7f0a95f1ea22b837",
        "type": "mqtt in",
        "z": "58a8cc08aa56be5b",
        "name": "horse 9 buzzer",
        "topic": "v1/devices/me/attributes",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7339bf397d763481",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 1140,
        "wires": [
            [
                "02002579f3674288"
            ]
        ]
    },
    {
        "id": "c2762ebd77885ea7",
        "type": "trigger",
        "z": "58a8cc08aa56be5b",
        "name": "",
        "op1": "true",
        "op2": "0",
        "op1type": "bool",
        "op2type": "str",
        "duration": "15",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 480,
        "y": 720,
        "wires": [
            [
                "7a469e04ca19b015"
            ]
        ]
    },
    {
        "id": "302ad8276df85b4a",
        "type": "trigger",
        "z": "58a8cc08aa56be5b",
        "name": "",
        "op1": "true",
        "op2": "0",
        "op1type": "bool",
        "op2type": "str",
        "duration": "15",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 480,
        "y": 780,
        "wires": [
            [
                "54f3e9d202bed175"
            ]
        ]
    },
    {
        "id": "a286844173bac4d4",
        "type": "function",
        "z": "58a8cc08aa56be5b",
        "name": "func 2",
        "func": "if (msg.payload.speakerDeviceName != 'horse sim 2') {\n    return null;\n} else {\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 720,
        "wires": [
            [
                "c2762ebd77885ea7"
            ]
        ]
    },
    {
        "id": "67176555e7940bec",
        "type": "function",
        "z": "58a8cc08aa56be5b",
        "name": "func 3",
        "func": "if (msg.payload.speakerDeviceName != 'horse sim 3') {\n    return null;\n} else {\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 780,
        "wires": [
            [
                "302ad8276df85b4a"
            ]
        ]
    },
    {
        "id": "25637fd5d9545d7f",
        "type": "function",
        "z": "58a8cc08aa56be5b",
        "name": "func 4",
        "func": "if (msg.payload.speakerDeviceName != 'horse sim 4') {\n    return null;\n} else {\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 840,
        "wires": [
            [
                "a96191581d64f84e"
            ]
        ]
    },
    {
        "id": "a96191581d64f84e",
        "type": "trigger",
        "z": "58a8cc08aa56be5b",
        "name": "",
        "op1": "true",
        "op2": "0",
        "op1type": "bool",
        "op2type": "str",
        "duration": "15",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 480,
        "y": 840,
        "wires": [
            [
                "c528af04d79e56ef"
            ]
        ]
    },
    {
        "id": "8141507aeaea9a15",
        "type": "trigger",
        "z": "58a8cc08aa56be5b",
        "name": "",
        "op1": "true",
        "op2": "0",
        "op1type": "bool",
        "op2type": "str",
        "duration": "15",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 480,
        "y": 900,
        "wires": [
            [
                "daab90f33c0ba279"
            ]
        ]
    },
    {
        "id": "849ec2c6481e29b4",
        "type": "function",
        "z": "58a8cc08aa56be5b",
        "name": "func 5",
        "func": "if (msg.payload.speakerDeviceName != 'horse sim 5') {\n    return null;\n} else {\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 900,
        "wires": [
            [
                "8141507aeaea9a15"
            ]
        ]
    },
    {
        "id": "5e9fdf8af1ec2762",
        "type": "trigger",
        "z": "58a8cc08aa56be5b",
        "name": "",
        "op1": "true",
        "op2": "0",
        "op1type": "bool",
        "op2type": "str",
        "duration": "15",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 480,
        "y": 960,
        "wires": [
            [
                "26e692205c60d89b"
            ]
        ]
    },
    {
        "id": "fe189dc3153514ac",
        "type": "function",
        "z": "58a8cc08aa56be5b",
        "name": "func 6",
        "func": "if (msg.payload.speakerDeviceName != 'horse sim 6') {\n    return null;\n} else {\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 960,
        "wires": [
            [
                "5e9fdf8af1ec2762"
            ]
        ]
    },
    {
        "id": "72c14b0f1ab54ac3",
        "type": "function",
        "z": "58a8cc08aa56be5b",
        "name": "func 7",
        "func": "if (msg.payload.speakerDeviceName != 'horse sim 7') {\n    return null;\n} else {\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 1020,
        "wires": [
            [
                "599150fa8b6c9e38"
            ]
        ]
    },
    {
        "id": "599150fa8b6c9e38",
        "type": "trigger",
        "z": "58a8cc08aa56be5b",
        "name": "",
        "op1": "true",
        "op2": "0",
        "op1type": "bool",
        "op2type": "str",
        "duration": "15",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 480,
        "y": 1020,
        "wires": [
            [
                "10f86e3d9437f492"
            ]
        ]
    },
    {
        "id": "80ee45b768244c8e",
        "type": "trigger",
        "z": "58a8cc08aa56be5b",
        "name": "",
        "op1": "true",
        "op2": "0",
        "op1type": "bool",
        "op2type": "str",
        "duration": "15",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 480,
        "y": 1080,
        "wires": [
            [
                "df923ed52bb3b9c3"
            ]
        ]
    },
    {
        "id": "75477bd5be697953",
        "type": "function",
        "z": "58a8cc08aa56be5b",
        "name": "func 8",
        "func": "if (msg.payload.speakerDeviceName != 'horse sim 8') {\n    return null;\n} else {\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 1080,
        "wires": [
            [
                "80ee45b768244c8e"
            ]
        ]
    },
    {
        "id": "4dfb19e706cf332e",
        "type": "trigger",
        "z": "58a8cc08aa56be5b",
        "name": "",
        "op1": "true",
        "op2": "0",
        "op1type": "bool",
        "op2type": "str",
        "duration": "15",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 480,
        "y": 1140,
        "wires": [
            [
                "677c71dfe76daa7f"
            ]
        ]
    },
    {
        "id": "02002579f3674288",
        "type": "function",
        "z": "58a8cc08aa56be5b",
        "name": "func 9",
        "func": "if (msg.payload.speakerDeviceName != 'horse sim 9') {\n    return null;\n} else {\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 1140,
        "wires": [
            [
                "4dfb19e706cf332e"
            ]
        ]
    },
    {
        "id": "9273722c992b7557",
        "type": "mqtt-broker",
        "name": "horse1",
        "broker": "srv-iot.diatel.upm.es/",
        "port": "8884",
        "tls": "51fcb25f871ce970",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "6cb7316a65e26cc3",
        "type": "mqtt-broker",
        "name": "horse2",
        "broker": "srv-iot.diatel.upm.es/",
        "port": "8883",
        "tls": "51fcb25f871ce970",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "419e859bcf675fd1",
        "type": "mqtt-broker",
        "name": "horse3",
        "broker": "srv-iot.diatel.upm.es/",
        "port": "8885",
        "tls": "51fcb25f871ce970",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "29848d17dd29e554",
        "type": "mqtt-broker",
        "name": "horse4",
        "broker": "srv-iot.diatel.upm.es/",
        "port": "8886",
        "tls": "51fcb25f871ce970",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "964a91f8b030c3b1",
        "type": "mqtt-broker",
        "name": "horse5",
        "broker": "srv-iot.diatel.upm.es/",
        "port": "8887",
        "tls": "51fcb25f871ce970",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2c4873277c872e0e",
        "type": "mqtt-broker",
        "name": "horse6",
        "broker": "srv-iot.diatel.upm.es/",
        "port": "8888",
        "tls": "51fcb25f871ce970",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "206fc98d1d2d13f2",
        "type": "mqtt-broker",
        "name": "horse7",
        "broker": "srv-iot.diatel.upm.es/",
        "port": "8889",
        "tls": "51fcb25f871ce970",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "99bf2ea4e9f9f97f",
        "type": "mqtt-broker",
        "name": "horse8",
        "broker": "srv-iot.diatel.upm.es/",
        "port": "8890",
        "tls": "51fcb25f871ce970",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "7339bf397d763481",
        "type": "mqtt-broker",
        "name": "horse9",
        "broker": "srv-iot.diatel.upm.es/",
        "port": "8891",
        "tls": "51fcb25f871ce970",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f8b554f2ba5f933d",
        "type": "ui_group",
        "name": "Horse 1",
        "tab": "64c0f28e313e3ca6",
        "order": 1,
        "disp": true,
        "width": "4",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4f5c5c78ab53bd75",
        "type": "ui_group",
        "name": "Horse 2",
        "tab": "64c0f28e313e3ca6",
        "order": 2,
        "disp": true,
        "width": "4",
        "collapse": false,
        "className": ""
    },
    {
        "id": "690ba896b47248b7",
        "type": "ui_group",
        "name": "Horse 3",
        "tab": "64c0f28e313e3ca6",
        "order": 3,
        "disp": true,
        "width": "4",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1d5dc17b8d99936c",
        "type": "ui_group",
        "name": "Horse 4",
        "tab": "64c0f28e313e3ca6",
        "order": 4,
        "disp": true,
        "width": "4",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7a7f7fda36072e21",
        "type": "ui_group",
        "name": "Horse 5",
        "tab": "64c0f28e313e3ca6",
        "order": 5,
        "disp": true,
        "width": "4",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7dd95f442310c619",
        "type": "ui_group",
        "name": "Horse 6",
        "tab": "64c0f28e313e3ca6",
        "order": 6,
        "disp": true,
        "width": "4",
        "collapse": false,
        "className": ""
    },
    {
        "id": "04360943b28004e2",
        "type": "ui_group",
        "name": "Horse 7",
        "tab": "64c0f28e313e3ca6",
        "order": 7,
        "disp": true,
        "width": "4",
        "collapse": false,
        "className": ""
    },
    {
        "id": "00835c4afd2888f5",
        "type": "ui_group",
        "name": "Horse 8",
        "tab": "64c0f28e313e3ca6",
        "order": 8,
        "disp": true,
        "width": "4",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c6d47ce79fbc89e0",
        "type": "ui_group",
        "name": "Horse 9",
        "tab": "64c0f28e313e3ca6",
        "order": 9,
        "disp": true,
        "width": "4",
        "collapse": false,
        "className": ""
    },
    {
        "id": "51fcb25f871ce970",
        "type": "tls-config",
        "name": "no server verification",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "64c0f28e313e3ca6",
        "type": "ui_tab",
        "name": "Horses",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]